@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
  color: white !important;
}

.LT-section{
  height: 100vh;
  width: 100%;  
  background: url(/images/bg-stars.svg)repeat, linear-gradient(180deg, #1E1E2Aff, #201E2Bff, #1E1E28ff, #211D2Bff, 
  #201E29ff, #241E2Cff, #211D2Bff, #231D2Bff, #201C2Aff) 0%;
  background-size: cover;
  background-position: center;
}

.LT-section h2{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
}

.box-time{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 100;
}

.title {
  position: relative;
  width: 100%;
  background-color: hsl(236, 21%, 26%);
  border-radius: 8px;
  padding: 25px 12px;
  box-shadow: 0px 10px 2px hsl(234, 17%, 12%) ;
}

.title::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: hsl(234, 17%, 12%);
  opacity: 0.4;
  box-shadow: 0px 0px 4xpx rgba(0, 0, 0, 0.9);
}

.title h1::before{
  content: '';
  position: absolute;
  top: 47%;
  left: -5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: hsl(234, 17%, 12%);
}

.title h1::after{
  content: '';
  position: absolute;
  top: 47%;
  right: -5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: hsl(234, 17%, 12%);
}

.box-time h1{
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: hsl(345, 95%, 68%);
  width: 130px;
  margin: 0px !important;
}

.box-time p{
  letter-spacing: 5px;
  color: hsl(237, 18%, 59%);
  margin: 25px 0px;
  font-size: 12px;
}


.imgh {
  margin: 0px 25px;
  transition:  0.9s ease;
}
.imgh1:hover {
  content: url(./images/facebook2-hover.svg) !important;
}
.imgh2:hover {
  content: url(./images/instagram-hover.svg) !important;
}
.imgh:hover {
  content: url(./images/pinterest-hover.svg) !important;
}

.iinn{
  position: fixed;
  right: 95px;
  bottom: 60px;
}

#date1, #time1, #set{
  outline: none;
  border: 3px solid hsl(234, 17%, 12%);
  border-radius: 10px;
  background-color: transparent;
  padding: 8px;
}

#set{
  color:hsl(345, 95%, 68%) ;
}


.fo-ot img{
  width: 100%;
} 

@media screen and (min-width:1300px) {
.fo-ot {
  width: 100%;
}

.fo-ot img{
  width: 100%;
  height: 70%;
}
  
}

@media screen and (max-width:768px) {
  .LT-section h2{
    font-size: 20px;
    text-align: center;
  }
  .hih img{
    width: 15px !important;
  }

}
