@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  color: wheat !important;
}

.LT-section{
  /* background-image: url(./images/bg-13.jpg) !important; */
  
  background: linear-gradient(
    to bottom,
    hsl(234, 17%, 12%) 0%,
    hsl(235, 16%, 14%) 50%,
    hsl(236, 21%, 26%) 100%
  );
  /* background-position: center;
  background-size: cover; */
  height: 100vh;
}

.wid{
  width: 200px;
  height: 200px;
  text-align: center;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LT-it ol{
  font-size: 22px;
  
}

